* {
    box-sizing: border-box;
  }
  body{
    background-color: aliceblue;
    background-image: url('./orange-1210524_960_720.png');
    background-size: 1500px, 10px; 
    background-repeat: repeat;
    background-color: #daf0fd; 
  }
  header{
    width: 100%;
  }
  header>.container{
    /* width: 100%; */
    height: 60px;
    background-color: #ff6a23;
    border-radius: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    justify-content: space-between;

  }
  header>.container>.buttons{
    display:flex ;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
  }

  .btn_header{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    color: #ff6a23;
    border: none;
  }

  header>.container>ul{
    display: flex;
    gap: 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
  }

  
  body {
    margin: 0;
    padding: 0;
    background-color: #f1f5f8;
    font-family: "Zilla Slab", serif;
  }
  
  h2 {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    text-align: center;
    color: #ff6a23;
  }
  .menu {
    margin-top: 20px;
  }
  .row{
    flex-direction: column;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 20px;
  }
  .btn-item {
    margin-left: 15px;
  }
  
  .photo {
    width: 30%;
    height: 175px;
    object-fit: cover;
    border: 0.25rem solid black;
    border-radius: 10px;
  }
  .menu-items {
    display: flex;
    margin: 20px 0;
  }
  .menu-info {
    margin-left: 20px;
    width: 100%;
  }
  .menu-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  
  h4 {
    color: #e00a00;
  }
  
.menu-text {
    padding-top: 20px;
 }
  
  .img-class {
    width: 400px;
    height: 250px;
    display: flex;
  }
  h3{
    border-bottom: 1px solid red;
    font-family: "Great Vibes", cursive;
    font-size: 24px;
    font-weight: 700;

  }
  .section-center{
    display: flex;
    gap: 20px;
  }
  
  .container_food{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box{
    margin-bottom: 20px;
  }

  #carouselExampleFade>.carousel-item>img{
    width: 500px;
    height: 400px;
    border-radius: 15px;
  }

  .menu_sing{
    gap: 20px;
  }
  .container_sing{
    width: 500px;
    height: 500px;
    border:1px solid ;
    padding: 20px;
    margin: auto;
    margin-top: 90px;
  }